.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e5345b;

}

#desain {
  background-color: #e5345b;
 
}
section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

.gallery .row > * {
  padding: 0%;
}

.bg-orange{
  background-color: #ffd400;
}


img{
	max-width: 100%;
}
.gallery{
	background-color: #e5345b;
	padding: 80px 0;
}
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 90%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}
